.sidebarProps {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarProps:hover {
    background-color: var(--white-bg);
    border-radius: 30px;
    color: var(--main-color);
    transition: color 100ms ease-out;
}

.sidebarProps > .MuiSvgIcon-root {
    padding: 20px;
}

.sidebarProps > h2 {
    font-weight: 400;
    font-size: 20 px;
    margin-right: 20px;
}

.sidebarProps--active {
    color: var(--main-color);
}