.SidebarProps {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.SidebarProps:hover {
    background-color: var(--white-bg);
    border-radius: 30px;
    color: var(--twitter);
    transition: color 100ms ease-out;
}

.SidebarProps > .MuiSvgIcon-root {
    padding: 20px;
    
}

.SidebarProps > h2 {
    font-weight: 400;
    font-size: 20px;
    margin-right: 20px;
}

.SidebarProps--active {
    color: var(--twitter);
}