.tweet {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--white-bg);
    padding-bottom: 10px;
  }
  
  .tweet_Body {
    flex: 1;
    padding: 10px;
  }
  
  .tweet_Body > img {
    border-radius: 20px;
  }
  
  .tweet_Footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .tweet_HeaderDesc {
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .tweet_HeaderText > h3 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  .tweet_Badge {
    font-size: 14px !important;
    color: var(--twitter);
  }
  
  .tweet_HeaderSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
  }
  
  .tweet_Avatar {
    padding: 20px;
  }